{% load i18n %}{% autoescape off %}
{% blocktrans %}Komuś zapomniało się hasła... {{ site_name }}.{% endblocktrans %}

{% trans "Uruchom link poniżej aby zresetować hasło:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "A login pamiętasz ? ;) :" %} {{ user.get_username }}

{% trans "Dzięki za skorzystanie z mojej strony!" %}

{% blocktrans %}The {{ site_name }} team (Adam Sztandar ;) ){% endblocktrans %}

{% endautoescape %}